<form class="w-75 mx-auto mt-5" method="POST" action="/addcategory">
    <h2>Add Category</h2>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Thêm danh mục:</label>
      <input style="width: 80%;" type="text" class="form-control" id="exampleFormControlInput1" name="username"
      />
    </div> 
    <button style="margin-top: 10px;width: full;" type="submit" class="btn btn-primary">Submit</button>
    <button style="margin-top: 10px; width: 8%; background-color: #28a745; border-color: #28a745;" type="button" class="btn btn-primary">
      <a href="/getcategory" style="text-decoration: none; color: white;">Danh Sách</a>
  </button>
  </form>