
<body>
    <div class="footer" style="background-color: rgb(242, 241, 241);">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h5 style="color: red;">Hỗ trợ khách hàng</h5>
                    <ul class="list-unstyled">
                        <li>Khách hàng doanh nghiệp</li>
                        <li>Danh sách cửa hàng</li>
                        <li>Chính sách bảo hành</li>
                        <li>Giới thiệu công ty</li>
                        <li>Tuyển dụng mới nhất</li>
                        <li>Tra cứu thành viên</li>
                        
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 style="color: red;">Chính sách</h5>
                    <ul class="list-unstyled">
                        <li>Chính sách bảo hành</li>
                        <li>Chính sách đổi trả</li>
                        <li>Chính sách bán hàng</li>
                        <li>Xem thêm</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 style="color: red;">Liên hệ</h5>
                    <ul class="list-unstyled">
                        <li>Mua ngay: <b style="color: blue;">1800 6018</b></li>
                        <li>Kỹ thuật: <b style="color: blue;">1800 6729</b></li>
                        <li>Bảo hành:  <b style="color: blue;">1800 3654</b></li></li>
                        <li>Góp ý: <b style="color: blue;">1800 2316</b></li></li>1800 2316</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <h5 style="color: red;">Thanh toán</h5>
                        <div class="col-md-6" >   
                            <ul class="list-unstyled" style="margin-left: 80px;">
                                <li><img style="width: 100px; height: 50px;" src="https://tse3.mm.bing.net/th?id=OIP.xYuKunyVF_Xuan_rhKYnaQHaFj&pid=Api&P=0&h=180" alt=""></li><br>
                                <li><img style="width: 100px; height: 50px;" src="https://tse4.mm.bing.net/th?id=OIP._tpAx9Dz9oAOg7Rr3YL1dgHaEJ&pid=Api&P=0&h=180" alt=""></li></li>
                                
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled"style="margin-left: -90px;">
                                <li><img style="width: 100px; height: 50px;" src="https://tse3.mm.bing.net/th?id=OIP.yPddXGf46lX8gwgyyJlEngHaFj&pid=Api&P=0&h=180" alt=""></li><br>
                                <li><img style="width: 100px; height: 50px;" src="https://tse2.mm.bing.net/th?id=OIP.WlcwdyKJjILJmzAdSZS7CAHaCZ&pid=Api&P=0&h=180" alt=""></li></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div><h4 style="color: black;">thanh toán trực tuyến!</h4></div>
                </div>
            </div>
            <hr style="color: black;">
             <div>
                <p style="color: black;">Công Ty TNHH Công Nghệ Di Động Việt - 75/35 Nguyễn Cửu Vân, P.17, Q. Bình Thạnh, TP. Hồ Chí Minh. Mã số doanh nghiệp: 0312193244, nơi cấp: Sở kế hoạch và đầu tư thành phố Hồ Chí Minh MST:0312193244. Chủ sở hữu: Nguyễn Ngọc Đạt- Điện thoại: 1800.6018 (miễn phí) - Email: lienhe@didongviet.vn - Bản quyền thuộc về Di Động Việt.</p>
             </div>
        </div>
       
    </div>
