<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card border-secondary">
              <div class="card-header bg-secondary text-white text-center">
                  <h1 class="mb-0">Sign In</h1>
              </div>
              <!--  -->
             
              <div class="card-body">
                  <form method="POST" action="/login">
                    <div class="imgcontainer">
                        <img style="margin-left: 180px; width: 170px;" src="https://tse3.mm.bing.net/th?id=OIP.Cl56H6WgxJ8npVqyhefTdQHaHa&pid=Api&P=0&h=180" alt="Avatar" class="avatar">
                      </div>
                    
                      <div class="container">
                        <label for="email"><b>Email</b></label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                    
                        <label for="password"><b>Password</b></label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                    
                        <button type="submit">Login</button>
                        <label>
                          <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                      </div>
                    
                      <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span style="margin-left: 300px;" class="psw">Forgot <a href="#">password?</a></span>
                      </div>
        
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
